body {
    font-family: Arial;
    background: #f4f4f4;
    text-align: center;
}

section {
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

.dark {
    background: #222;
    color: white;
}

.dark section {
    background: #333;
}
img {
    margin: 10px;
    border-radius: 10px;
}

section {
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
h2 {
    margin-bottom: 10px;
}

p {
    max-width: 600px;
    margin: auto;
}